<html>
    <title>

    </title>
    <body>
        <h1> Hey From the signup Page</h1>
        <form method="POST" action="/user/login">
            <input type="text" placeholder="Username" name="username" required />
            <input type="password" placeholder="Password" name="password" required />
            <input type="submit"/> 
        </form>
    </body>
</html>