<html>
    <title>

    </title>
    <bodyt>
        <h1> Hey From the signup Page</h1>
        <form method="POST" action="/user/signup">
            <input type="text" placeholder="Username" name="username" required />
            <input type="text" placeholder="Name" name="name" required />
            <input type="email" placeholder="Email" name="email" required />
            <input type="password" placeholder="Password" name="password" required />
            <input type="submit"/> 
        </form>
    </body>
</html>